<section>
   
       <img src="/images/empt.png">
  


</section>

<style>
img {
     height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>